LOCAL_URL=YOUR_URL
LOCAL_EMAIL=YOUR_EMAIL
LOCAL_PASSWORD=YOUR_PASSWORD

STAGE_URL=YOUR_URL
STAGE_EMAIL=YOUR_EMAIL
STAGE_PASSWORD=YOUR_PASSWORD

PROD_URL=YOUR_URL
PROD_EMAIL=YOUR_EMAIL
PROD_PASSWORD=YOUR_PASSWORD